<div class="container">
    <div class="page-title">
      Driving the Point Home
    </div>
  
  
  
    <div class="contents">
  
      <section class="shape-section">
        <div class="container shape circle gray">
          <div class="content-in-shape"><span class="title">Effective 
              Communication 
              & Education</span></div>
        </div>
  
        <span class="formula">+</span>
  
        <div class="container shape diamond green">
          <div class="content-in-shape"><span class="title">Necessary to
              Implement</span></div>
        </div>
  
        <span class="formula">+</span>
  
        <div class="container shape diamond green">
          <div class="content-in-shape"><span class="title">Goals &
              Objectives</span></div>
        </div>
  
        <span class="formula">+</span>
  
        <div class="container shape diamond green">
          <div class="content-in-shape"><span class="title">Illustrate 
              “Action Plan”</span></div>
        </div>
      </section>
  
  
      <span class="form-question">1.  Provide Examples of Effective Communication and Education</span>
      <span class="form-question">2.  Provide the First Steps Necessary to Implement</span>
      <span class="form-question">3.  State the Goals and Objectives of the Plan</span>
      <span class="form-question">4. Illustrate the “Action Plan”</span>
      <span class="form-description indent">A. This is your chance to begin closing</span>
      <span class="form-description indent">B. “How soon do you think you need to begin implementing these things?”</span>
  
    </div>
  </div>