.container {
    display: flex;
    flex-direction: column;
}
.contents{
    display: flex;
    flex-direction: column;
    padding-left:2em;
}

.form-description>i{
    color:#00000011;
    font-size:2em;
}

 .shape-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }
  .shape {
      margin: 1em 2em 1em 2em;
      height: 8em;
      width:8em;
      text-align: center;
  }
  .shape.diamond {
    transform:rotate(45deg);
    margin-left: 2em;
  }
  .shape.circle {
    border-radius: 11.3em;
    height: 11.3em;
	width: 11.3em;
  }

  .green {
    background: #41c562;
  }
  .gold {
    background: #fecc51;
  }
  .blue{
    background: #239adc;
  }
  .gray {
    background: #6d6e70;
  }
  
  .content-in-shape {
    color: white;
    display: table-cell;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .diamond .content-in-shape {
	height: 8em;
	width: 8em;
	transform: rotate(-45deg);
  }
  .circle .content-in-shape {
	height: 11.3em;
	width: 11.3em;
  }
  .content-in-shape .title{
    padding-bottom: 0.6em;
    font-size: 1.2em;
  }
  .content-in-shape .description{
    font-size: 0.8em;
  }

span.formula {
    color:#41c562;
    font-size:3em;
    margin-left:.4em;
    margin-right:.4em;
  }

  .arrow-line-vertical { 
	width: 0;
	height: 2em;
	border-left: solid #41c562 .4em;
  }

  .arrow-greater-than {
	width: 1em;
	height: 1em;
    border: solid #41c562 .4em;
    border-color: transparent #41c562 #41c562 transparent;
    transform:rotate(-45deg);
  }