<div class="page-container">
	<div class="page-title">
		The Change Formula
	</div>



	<div class="page-content">

		<section class="shape-section">
			<div *ngIf="stage>=0" [@enterAnimation-0]="stage" (click)="onClickShape(1)" id='shape-0' class="shape circle gray cursor-pointer">
				<div class="content-in-shape"><span class="title">(D)issatisfaction</span></div>
			</div>

			<span *ngIf="stage>=1" [@enterAnimation-arrow-0]="stage" class="formula">+</span>

			<div *ngIf="stage>=1" [@enterAnimation-1]="stage" id='shape-1' class="shape diamond green cursor-pointer" (click)="onClickShape(2)">
				<div class="content-in-shape"><span class="title">(V)ision</span></div>
			</div>

			<span *ngIf="stage>=2" [@enterAnimation-arrow-1]="stage" class="formula">+</span>

			<div *ngIf="stage>=2" [@enterAnimation-2]="stage" id='shape-2' class="shape diamond green cursor-pointer" (click)="onClickShape(3)">
				<div class="content-in-shape"><span class="title">(F)irst Concrete Steps</span></div>
			</div>

			<span *ngIf="stage>=3" [@enterAnimation-arrow-2]="stage" class="formula">></span>

			<div *ngIf="stage>=3" [@enterAnimation-3]="stage" id='shape-3' class="shape diamond green cursor-pointer" (click)="(0)">
				<div class="content-in-shape"><span class="title">(R)esistance to Change</span></div>
			</div>
		</section>


		<span class="form-title">Notes:</span>
		<span class="form-question">HR is typically more “change averse”</span>
		<span class="form-description"><li>Prep the CFO/CEO for the aversion HR is likely to have when they ask to bring them in</li></span>
		<span class="form-description"><li>“We love HR, but . . .”</li></span>
		<p></p>
		<span class="form-question">Referrals/Intros usually have a high “V” score</span>

	</div>
	<div class="page-footer>">
			<button (click)="router.navigateByUrl('/Blueprint%20Process/What%20Makes%20You%20Different');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
			<button (click)="router.navigateByUrl('/Blueprint%20Process/The%20BP%20Philosophy');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>
</div>