<div class="container">
	<div class="page-title">
		Notes! Notes! Notes!
	</div>

	<div class="contents">
		<div class="image-left">
			<img src="/src/assets/mapping-it-out/9.png">
		</div>




		<div class="form">
			<span class="form-question">We’ve talked a lot about taking notes. Not only is it important to demonstrate our sincerity,
				but also because we are going to build our presentation around what is in those notes!</span>
			<span class="form-question">Don’t miss – <span class="emphasis">“Presenting to Win”</span> to learn how to incorporate
				these service and others into the final presentation.
			</span>
			<p></p>
			<!-- <span class="form-title">NOTES:</span> -->
			<mat-form-field>
				<textarea matInput placeholder="NOTES:"></textarea>
			</mat-form-field>
		</div>

	</div>
</div>