<div class="page-container">
    <div class="page-title">
        The Intellectual Response
    </div>



    <div class="page-content">
        <div class="form-title">
            <p class="red-forecolor">“If I am able to do the things we’ve discussed today, would you be willing to do business
                with me (us)?”</p>
        </div>

        <div class="flex-row">
            <div style="flex:2;">
                <div class="form-question">
                    <p>Have you said it or some version of it?</p>
                </div>
                <div class="form-question">
                    <p>How did your prospect respond? Did they say yes? Of course they did.</p>
                </div>
                <div class="form-question">
                    <p>That is called an <span class="red-forecolor">intellectual response</span>. Some might call it a “knee jerk” reaction, or even just telling
                        you what you want to hear because it is easier than even a minor confrontation.</p>
                </div>
            </div>


            <div class="flex-row" style="flex:1;align-items: center; justify-content: center;">
                <div><img width="100%" src="assets/the-truth/5-1.png"></div>
            </div>
        </div>
    </div>

    <div class="page-footer>">
			<button (click)="router.navigateByUrl('/The%20Truth/5');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
			<button (click)="router.navigateByUrl('/The%20Truth/3');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>

</div>