.container {
    display: flex;
    flex-direction: column;
}
.contents{
    display: flex;
    flex-direction: column;
    padding-left:2em;
}
.side-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.side-item{
    padding: 2em;
}
.title-image {
    margin-top: -5em !important;
    display: flex;
    justify-content: center;
}