<div class="page-container">
    <div class="page-title">
        Let's Try One of Your Own!
    </div>

    <div class="page-content">

        <div class="flex-col">
            <!-- What -->
            <div class="flex-row" style="align-items: center; border: solid lightgray 1px; border-bottom-color: #00000000;">
                <div style="width:150px; border-right: solid lightgray 1px;">
                    <div class="flex-col form-question" style="align-items: center;padding:1em;">
                        <img src="assets/proactive-service/13-what.png" style="padding:1em;"> What
                    </div>
                </div>

                <div class="flex-col" style="flex:1;">
                    <mat-form-field style="width: 100%; padding: 1em;">
                        <textarea matInput matTextareaAutosize matAutosizeMinRows=2 matAutosizeMaxRows=15 placeholder="" style="resize: vertical;"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- Timing -->
            <div class="flex-row" style="align-items: center; border: solid lightgray 1px; border-bottom-color: #00000000;">
                <div style="width:150px; border-right: solid lightgray 1px;">
                    <div class="flex-col form-question" style="align-items: center;padding:1em;">
                        <img src="assets/proactive-service/13-timing.png" style="padding:1em;"> Timing
                    </div>
                </div>

                <div class="flex-col" style="flex:1;">
                    <mat-form-field style="width: 100%; padding: 1em;">
                        <textarea matInput matTextareaAutosize matAutosizeMinRows=2 matAutosizeMaxRows=15 placeholder="" style="resize: vertical;"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- Acquire -->
            <div class="flex-row" style="align-items: center; border: solid lightgray 1px; border-bottom-color: #00000000;">
                <div style="width:150px; border-right: solid lightgray 1px;">
                    <div class="flex-col form-question" style="align-items: center;padding:1em;">
                        <img src="assets/proactive-service/13-acquire.png" style="padding:1em;"> Acquire
                    </div>
                </div>

                <div class="flex-col" style="flex:1;">
                    <mat-form-field style="width: 100%; padding: 1em;">
                        <textarea matInput matTextareaAutosize matAutosizeMinRows=2 matAutosizeMaxRows=15 placeholder="" style="resize: vertical;"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- Analyze -->
            <div class="flex-row" style="align-items: center; border: solid lightgray 1px; border-bottom-color: #00000000;">
                <div style="width:150px; border-right: solid lightgray 1px;">
                    <div class="flex-col form-question" style="align-items: center;padding:1em;">
                        <img src="assets/proactive-service/13-analyze.png" style="padding:1em;"> Analyze
                    </div>
                </div>

                <div class="flex-col" style="flex:1;">
                    <mat-form-field style="width: 100%; padding: 1em;">
                        <textarea matInput matTextareaAutosize matAutosizeMinRows=2 matAutosizeMaxRows=15 placeholder="" style="resize: vertical;"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- ACT -->
            <div class="flex-row" style="align-items: center; border: solid lightgray 1px;">
                <div style="width:150px; border-right: solid lightgray 1px;">
                    <div class="flex-col form-question" style="align-items: center;padding:1em;">
                        <img src="assets/proactive-service/13-act.png" style="padding:1em;"> ACT
                    </div>
                </div>

                <div class="flex-col" style="flex:1;">
                    <mat-form-field style="width: 100%; padding: 1em;">
                        <textarea matInput matTextareaAutosize matAutosizeMinRows=2 matAutosizeMaxRows=15 placeholder="" style="resize: vertical;"></textarea>
                    </mat-form-field>
                </div>
            </div>

        </div>

    </div>
</div>