<div class="page-container">
    <div class="page-title">
        Wrapping Up
    </div>



    <div class="page-content">

        <div class="form-main-title" style="border-bottom: solid 1px lightgray">
            Crystal Ball
        </div>

        <div class="flex-row" style="padding:.5em;">
            <div class="flex-col" style="align-items: center">
                <img src="assets/the-truth/8-s.png">
                <div>S</div>
            </div>
            <div class="flex-col">
                <div class="flex-row">
                    <div class="arrow chat-arrow left" style="margin-top:1em;">

                    </div>
                    <div class="chat-box">
                        <span>And you are comfortable with that?
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row-reverse" style="justify-content: space-between;padding:.5em;">
            <div class="flex-row-reverse" style="flex: initial;">
                <div class="flex-col" style="align-items: center">
                    <img src="assets/the-truth/8-p.png">
                    <div>P</div>
                </div>

                <div class="flex-col">
                    <div class="flex-row">

                        <div class="chat-box">
                            <span> If you can come through with all the things
                                <br> we just talked about and if the pricing is
                                <br> where it needs to be, then yes, I am comfortable with it.

                            </span>
                        </div>
                        <div class="arrow chat-arrow right" style="margin-top:1em;"></div>
                    </div>
                </div>
            </div>

            <div style="flex: initial;">
                <img width="100%" src="assets/the-truth/15-1.png">
            </div>
        </div>

        <div class="flex-row" style="padding:.5em; justify-content: space-between;">
            <div class="flex-row"  style="flex: initial;">
                <div class="flex-col" style="align-items: center">
                    <img src="assets/the-truth/8-s.png">
                    <div>S</div>
                </div>
                <div class="flex-col">
                    <div class="flex-row">
                        <div class="arrow chat-arrow left" style="margin-top:1em;">

                        </div>
                        <div class="chat-box">
                            <span>Great to hear. So let’s get to work.
                                <br> Who do I need to see to get the information
                                <br> we need to get to work?
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div style="flex: initial;">
                <img width="100%" src="assets/the-truth/15-2.png">
            </div>
        </div>

    </div>

    <div class="page-footer>">
			<button (click)="router.navigateByUrl('/The%20Truth/15');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
			<button (click)="router.navigateByUrl('/The%20Truth/13');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>

</div>