<div class="page-container">
    <div class="page-title">
        Defining a Proactive Service
    </div>

    <div class="page-content">
        <div>
            <img src="assets/proactive-service/8-1.png">
        </div>
    </div>

    <div class="page-footer>">
			<button (click)="router.navigateByUrl('/Proactive%20Service/8');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
			<button (click)="router.navigateByUrl('/Proactive%20Service/6');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>
</div>