<div class="page-container">
	<div class="page-title">
		Who? - Key Question (Jerry - CFO)
	</div>
	<div class="page-content">
		<div class="card-container">

			<div *ngIf="stage===0" [@enterAnimation] id="setting-the-stage-main" class="card-content">
				<div class="row">
					<div class="col-md-7">

						<div *ngFor="let question of questions" style="display:flex;flex-direction: row; align-items: center;">
							<div style="margin-right:1em;"><img src="assets/mapping-it-out/5-1.png"></div>
							<div class="form-question">{{question}}</div>
						</div>
					</div>
					<div class="col-md-5">
						<section class="row">
							<div class="content-box-no-width red-forecolor">
								<span>Repeat this process for any people your prospect brings up. If they stall or are having problems coming up
									with anyone ask for the usual suspects – those whom you know deal with this stuff, HR people, Financial people,
									their assistants, etc. </span>
							</div>

							<div class="emphasis" style="margin:1em;">
								<span class="emphasis">Remember to ask them if they see their broker playing a role in the service – what is it?
									How much do they expect from him/her?</span>
							</div>

							<div [ngClass]="{ 'green': stage==1}" class="shape position-unset rectangle round blue cursor-pointer" (click)="onClick1()" style="margin:auto;">
								<div class="content-in-shape"><span class="title">“Why Do You Need All<br> This Information?”
									</span></div>
							</div>
						</section>
					</div>


				</div>

			</div>

			<div *ngIf="stage===1" [@enterAnimation] id="setting-the-stage-main" class="card-content">
				<div>
					<button mat-button color="primary" (click)="onBack()"><i class="fa fa-arrow-left" style="padding-bottom: 3px;"></i>&nbsp;&nbsp;&nbsp;Back</button>
				</div>

				<p class="form-title">
					“Why Do You Need All This Information?”
				</p>

				<span class="form-description">
					It’s a common question. Truthfully, we want to learn as much as we can about how the company works and how the employees
					interact. Why?
				</span>






				<span class="form-description emphasis indent">
					<li>So we know who is going to be talking about us after we leave and so we know as much about their role in the decision
						making process as possible</li>
				</span>

				<span class="form-description emphasis indent">
					<li>So we can do our job well, be thorough and create a scenario where the customer is perfectly satisfied with the
						service and its execution</li>
				</span>

				<p class="form-description">
					Your Response: I understand Mr. X, I get that all the time. I promise you, I’m not going to ask for social security numbers
					or anything like that, but would you agree that every company is different? (Sure) Well, I’m just trying to be sure
					I understand how you and your employees work together, so I get this right! Fair enough?
				</p>
			</div>



		</div>



	</div>
	<div class="page-footer>">
		<button (click)="router.navigateByUrl('/Mapping%20It%20Out/6');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i
			 class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
		<button (click)="router.navigateByUrl('/Mapping%20It%20Out/4');" mat-button color="primary" style="float:right;" href="#"><i
			 class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>
</div>