<div class="container">
  <div class="page-title">
    Two Pitfalls to Overcome
  </div>



  <div class="contents">


    <section class="shape-section">
      <div class="container shape circle gray">
        <div class="content-in-shape"><span class="title">Our Project Beleive</span></div>
      </div>

      <div class="arrow-line"></div>
      <div class="arrow"></div>

      <div class="container shape diamond green">
        <div class="content-in-shape"><span class="title">Do Anything</span></div>
      </div>

      <div class="arrow-line"></div>
      <div class="arrow"></div>

      <div class="container shape diamond green">
        <div class="content-in-shape"><span class="title">Win Business</span></div>
      </div>

    </section>

    <span class="form-title">1. Our prospects believe we will do anything to win their business</span>
    <span class="form-title">2. Our prospects decide our value before they give themselves a chance to evaluate their situation</span>
    <p></p>
    <div>
      <img src="/src/assets/blueprint-process/8.png">
    </div>
    <span class="form-description"> Don’t fall into the trap of talking about yourself or your team.</span>



  </div>
</div>