<div class="page-container">
	<div class="page-title">
		The Five Categories of Sales People
	</div>



	<div class="page-content">

		<!-- <section class="shape-container-row" style="justify-content: space-around;"> -->
		<section class="shape-section">

			<!-- <div (click)="onClickShape(1)" class="new-shape circle gray"> -->
			<div *ngIf="stage>=0" [@enterAnimation-4-0]="stage" (click)="onClickShape(1)" class="shape circle gray">
				<div class="content-in-shape"><span class="title">In recent years</span></div>
			</div>

			<span *ngIf="stage>=1" [@enterAnimation-formula-4-0]="stage" class="new-formula">></span>

			<!-- <div (click)="onClickShape(2)" class="new-shape diamond green"> -->
			<div *ngIf="stage>=1" [@enterAnimation-4-1]="stage" (click)="onClickShape(2)" class="shape diamond green">
				<div class="content-in-shape">
					<span class="title">Customers demanding</span></div>
			</div>

			<span *ngIf="stage>=2" [@enterAnimation-formula-4-1]="stage" class="new-formula">></span>

			<!-- <div (click)="onClickShape(3)" class="new-shape diamond green"> -->
			<div *ngIf="stage>=2" [@enterAnimation-4-2]="stage" (click)="onClickShape(3)" class="shape diamond green">
				<div class="content-in-shape"><span class="title">Salespeople to teach them</span></div>
			</div>

			<span *ngIf="stage>=3" [@enterAnimation-formula-4-2]="stage" class="new-formula">></span>

			<!-- <div (click)="(0)" class="new-shape diamond green"> -->
			<div *ngIf="stage>=3" [@enterAnimation-4-3]="stage" (click)="(3)" class="shape diamond green">
				<div class="content-in-shape"><span class="title"> The Challenger Sale</span></div>
			</div>
		</section>

		<div class="content-box-no-width">
			<span class="emphasis">“In recent years, customers have been demanding more depth and expertise. They expect
				salespeople to teach them things they don’t know.” </span><strong>– The Challenger Sale</strong>

		</div>

		<div class="form-title">
			<span class="form-question">The Five Categories of Sales People</span>
		</div>

		<mat-horizontal-stepper #stepperSub1_1 (selectionChange)="selectionChangeSub1_1($event)" class="sentence-stepper">
			<mat-step [completed]="false">
			</mat-step>
			<mat-step [completed]="false">
			</mat-step>
			<mat-step [completed]="false">
			</mat-step>
			<mat-step [completed]="false">
			</mat-step>
			<mat-step [completed]="false">
			</mat-step>
		</mat-horizontal-stepper>

		<div [@enterSentenceAnimation]="stageSub1_1>=1" class="form-question">
			<span class="form-question indent">1. The Hard Worker</span>
		</div>
		<div [@enterSentenceAnimation]="stageSub1_1>=2" class="form-question">
			<span class="form-question indent">2. The Challenger</span>

		</div>
		<div [@enterSentenceAnimation]="stageSub1_1>=3" class="form-question">
			<span class="form-question indent">3. The Relationship Builder</span>

		</div>
		<div [@enterSentenceAnimation]="stageSub1_1>=4" class="form-question">
			<span class="form-question indent">4. The Lone Wolf</span>
		</div>
		<div [@enterSentenceAnimation]="stageSub1_1>=5" class="form-question">
			<span class="form-question indent">5. The Reactive Problem Solver</span>
		</div>


	</div>
	<div class="page-footer>">
		<button (click)="router.navigateByUrl('/Proactive%20Service/2');" mat-button color="primary" style="float:right;"
		 href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
		<button (click)="router.navigateByUrl('/Proactive%20Service');" mat-button color="primary" style="float:right;" href="#"><i
			 class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>

</div>