<div class="pagecontainer">
    <div class="page-title">
      Outcomes
    </div>
  
  
  
    <div class="page-content">
      <div>
        <img src="assets/blueprint-process/16.png">
      </div>
  
  

    </div>
    <div class="page-footer>">
        <button (click)="router.navigateByUrl('/Blueprint%20Process/Phase%201%20and%20Phase%202');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
        <button (click)="router.navigateByUrl('/Blueprint%20Process/Outcomes%20-%20EB');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
    </div>
  </div>