<div class="container">
  <div class="page-title">
    The Vacuum Cleaner Salesperson
  </div>

  <div class="contents">
      <div class="page-left">
          <img src="/src/assets/blueprint-process/9-left-man.png">
        </div>
      
        <div class="form">
          <p class="form-title">What are some adjectives you would use to 
              describe a vacuum cleaner salesperson?</p>
          <mat-form-field>
            <input matInput placeholder="1st">
          </mat-form-field>
      
          <mat-form-field>
            <input matInput placeholder="2nd">
          </mat-form-field>
      
          <mat-form-field>
            <input matInput placeholder="3rd">
          </mat-form-field>
      
          <mat-form-field>
            <input matInput placeholder="4th">
          </mat-form-field>
        </div>
      
  </div>
</div>