.container {
    display: flex;
    flex-direction: column;
}
.contents{
    display: flex;
    flex-direction: row;
}
.form {
    display: flex;
    flex-direction: column;
    flex: 1;
}
  
 .form > * {
    width: 90%;
 }