div.former,
div.latter {
    width: 15em;
    background: #e4e6f5;
    display: flex;
    align-items: center;
    padding: 0.5em;
    height: 8em;
    border: solid #ccc 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size:1em;
}

.score-card-row .mat-fab {
    background-color: rgba(255, 219, 219, 0.158);
    color: black;
    border-color: gray;
}
.score-card-row button {
    font-size: 1.2em;
}
