<div class="page-container">
	<div class="page-title">
		The Scorecard
	</div>



	<div class="page-content">
		<span class="form-question">THE BLUEPRINT SCORECARD</span>
		<span class="form-description">To help us understand your current situation and help get your plan on a high performing
			level, please complete the scorecard and check the number that most reflects your thoughts on each paired phrase.</span>

		<div *ngFor="let question of questions" class="flex-row align-items-center score-card-row">
			<div class="former {{question.color}}-forecolor">{{question.first}}</div>
			<button *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" mat-stroked-button mat-fab color="primary">{{num}}</button>
			<div class="latter {{question.color}}">{{question.last}}</div>
		</div>

		<div style="align-self: center; margin-top: 1em;">
			<img src="assets/blueprint-process/18-1.png">
		</div>

	</div>
	<div class="page-footer>">
			<button (click)="router.navigateByUrl('/Blueprint%20Process/A%20Powerful%20Discovery%20Session');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
			<button (click)="router.navigateByUrl('/Blueprint%20Process/Phase%201%20and%20Phase%202');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>
</div>