
mat-header-row {
	background-color:#4472c4;
}
mat-header-cell {
	color:white;
	font-size:0.9em;
}
.mat-table-sticky {
	border-right: 1px solid #fff;
	padding-left: 2em;
	padding-right: 2em;
}
mat-row:nth-child(even){
	background-color:#cfd5ea;
}
mat-row:nth-child(odd){
	background-color:#eef1fa;
} 