<div class="page-container">
    <div class="page-title">
        More Scripting . . .
    </div>



    <div class="page-content">

        <div class="form-main-title" style="border-bottom: solid 1px lightgray">Dilemma</div>

        <div class="flex-row" style="padding:.5em;">
            <div class="flex-col" style="align-items: center">
                <img src="assets/the-truth/8-s.png">
                <div>S</div>
            </div>
            <div class="flex-col">
                <div class="flex-row">
                    <div class="arrow chat-arrow left" style="margin-top:1em;">

                    </div>
                    <div class="chat-box">
                        <span>That will create a new dilemma and I’m wondering if we can talk about that?


                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row-reverse" style="justify-content: flex-start;padding:.5em;">
            <div class="flex-col" style="align-items: center">
                <img src="assets/the-truth/8-p.png">
                <div>P</div>
            </div>

            <div class="flex-col">
                <div class="flex-row">

                    <div class="chat-box">
                        <span> Really?  What is that?
                            </span>
                    </div>
                    <div class="arrow chat-arrow right" style="margin-top:1em;"></div>
                </div>
            </div>
        </div>

        <div class="flex-row" style="padding:.5em;">
            <div class="flex-col" style="align-items: center">
                <img src="assets/the-truth/8-s.png">
                <div>S</div>
            </div>
            <div class="flex-col">
                <div class="flex-row">
                    <div class="arrow chat-arrow left" style="margin-top:1em;">

                    </div>
                    <div class="chat-box">
                        <span>Well, the trouble is, if you decide that maybe you have a new guy, you’re going to have to go tell the  old guy it is over.  How do you see that playing out?
                            </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row-reverse" style="justify-content: flex-start;padding:.5em;">
            <div class="flex-col" style="align-items: center">
                <img src="assets/the-truth/8-p.png">
                <div>P</div>
            </div>

            <div class="flex-col">
                <div class="flex-row">

                    <div class="chat-box">
                        <span>Oh, I’ll just tell him.
                            </span>
                    </div>
                    <div class="arrow chat-arrow right" style="margin-top:1em;"></div>
                </div>
            </div>
        </div>


        <div class="form-main-title" style="border-bottom: solid 1px lightgray">2nd Transition</div>
        <div class="flex-row" style="padding:.5em;">
                <div class="flex-col" style="align-items: center">
                    <img src="assets/the-truth/8-s.png">
                    <div>S</div>
                </div>
                <div class="flex-col">
                    <div class="flex-row">
                        <div class="arrow chat-arrow left" style="margin-top:1em;">
    
                        </div>
                        <div class="chat-box">
                            <span>Really?  That easy, you’re just going to turn him loose?
                                </span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="flex-row-reverse" style="justify-content: flex-start;padding:.5em;">
                <div class="flex-col" style="align-items: center">
                    <img src="assets/the-truth/8-p.png">
                    <div>P</div>
                </div>
    
                <div class="flex-col">
                    <div class="flex-row">
    
                        <div class="chat-box">
                            <span>Well, it could be a difficult conversation, but we’ll have to do it.
                                </span>
                        </div>
                        <div class="arrow chat-arrow right" style="margin-top:1em;"></div>
                    </div>
                </div>
            </div>

    </div>

    <div class="page-footer>">
			<button (click)="router.navigateByUrl('/The%20Truth/10');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
			<button (click)="router.navigateByUrl('/The%20Truth/8');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>
</div>