.container {
    display: flex;
    flex-direction: column;
}
.contents{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    /* align-items: center; */
}

.process {
    display: flex;
    flex-direction: column;
    flex: 0;
    padding: 0 3em 0 3em;
}
.process>img {
    padding: 0 5em 0 5em;
}
.form-content, .form-question, .form-title{
    text-align: center;
    padding: 0.2em;
}