<div class="container">
	<div class="page-title">
		The BP Process (Three Meetings)
	</div>

	<div class="contents">
		<div class="process">
			<img src="/src/assets/blueprint-process/4-1.png">
			<span class="form-content">Initial</span>
			<span class="form-title">15 Minutes</span>
			<span class="form-question">The Initial Meeting (Lowering Buyer Resistance – 15 Minutes)</span>
		</div>

		<div class="process">
				<img src="/src/assets/blueprint-process/4-2.png">
				<span class="form-content">Discovery</span>
				<span class="form-title">90 Minutes</span>
				<span class="form-question">The Discovery Meeting (2nd Meeting - 90 Minutes)</span>
		</div>

		<div class="process">
				<img src="/src/assets/blueprint-process/4-3.png">
				<span class="form-content">Blueprint</span>
				<span class="form-title">90 Minutes</span>
				<span class="form-question">The Blueprint (The Presentation – 90 Minutes)</span>
		</div>
	</div>
</div>