<div class="page-container">
    <div class="page-title">
      Outcomes - EB
    </div>
  
  
  
    <div class="page-content">
      <div>
        <img src="assets/blueprint-process/15.png">
      </div>
  
  
      <span class="form-question">1.  Identify all levers that you could be and maybe should be pulling to get the best financial deal possible.</span>
      <span class="form-question">2.  Keep the value perception of your benefits offering high in the mind of your employees. </span>
      <span class="form-question">3.  Reduce the administrative burdens of your benefits offering and workforce initiatives</span>
      <span class="form-question">4.  Leverage Risk Mitigation strategies to be seen as best in class by Underwriters</span>
      <span class="form-question">5.  Audit information accuracy (claims, compliance, eligibility etc.) </span>
      <span class="form-question">6.  Access healthcare efficiently and inexpensively</span>
      <span class="form-question">7.  Mitigate compliance risk and streamline compliance efficiencies </span>
      <span class="form-question">8.  Represent your employees before, during and after a claim</span>
      

    </div>
    <div class="page-footer>">
        <button (click)="router.navigateByUrl('/Blueprint%20Process/Outcomes');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
        <button (click)="router.navigateByUrl('/Blueprint%20Process/Outcomes%20-%20P&C');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
    </div>
  </div>