<div class="" style="background-color: #192857;">

  <ul class="mainmenus">
    <li *ngFor="let mainmenu of mainmenus" routerLink="/{{mainmenu.title}}">
      <!-- <nav>
        <a routerLink="/blueprint-process">{{mainmenu.title}}</a>
      </nav> -->
      {{mainmenu.title}}

      <!-- <a href="#">
        <span class="badge">{{mainmenu.title}}</span>
      </a> -->
    </li>
  </ul>

</div>

<!-- <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav> -->