<div class="container">
    <div class="page-title">
      Some Analogies . . .
    </div>
  
  
  
    <div class="contents">
  
      <section class="shape-section">
        <div class="container shape circle gray">
          <div class="content-in-shape"><span class="title">Buying a
              new car
              </span></div>
        </div>
  
        <span class="formula">></span>
  
  
        <div class="container shape diamond green">
          <div class="content-in-shape"><span class="title">The black 
              suburban story 
              (putting you 
              off)
              </span></div>
        </div>
  
        <span class="formula">></span>
  
        <div class="container shape diamond green">
          <div class="content-in-shape"><span class="title">The Horse 
              and Jockey
              story 
              (markets)
              </span></div>
        </div>
      </section>
      
      
      <span class="form-title">Next Topics . . . (Handouts)</span>
      
      





      <span class="form-question emphasis"><li>Timeline Selling</li></span>
      <span class="form-question emphasis"><li>How Not to Get Rolled</li></span>
      <span class="form-question emphasis"><li>Dealing with Price Buyers</li></span>

    </div>
  </div>