<div class="container">
	<div class="page-title">
		The Initial Meeting
	</div>

	<div class="contents">
		<div class="page-left">
			<img src="assets/blueprint-process/11-left.png">
		</div>

		<div class="form">
			<p class="form-title">Objectives:</p>

			<mat-list>
				<mat-list-item><i class="fa fa-check"> Lower Buyer Resistance</i></mat-list-item>
				<mat-list-item><i class="fa fa-check"> Establish Credibility – If you don’t have any, borrow someone else’s</i></mat-list-item>
				<mat-list-item><i class="fa fa-check"> Create Doubt (“How’s it REALLY going?”)</i></mat-list-item>
				<mat-list-item><i class="fa fa-check"> Create Curiosity (“That’s interesting . . .”)</i></mat-list-item>
				<mat-list-item><i class="fa fa-check"> Create Urgency (“We need to do that.”)</i></mat-list-item>
				<mat-list-item><i class="fa fa-check"> Who Are the Players – Decision makers on down</i></mat-list-item>
				<mat-list-item><i class="fa fa-check"> Take Control – it is your assessment of their situation</i></mat-list-item>
				<mat-list-item><i class="fa fa-check"> Set the Stage – mystery is provocative</i></mat-list-item>
			</mat-list>

		</div>

	</div>
</div>