<div class="container">
  <div class="page-title">
    Outcomes - Learning from the Prospect
  </div>



  <div class="contents">


    <section class="shape-section">
      <div class="container shape circle gray">
        <div class="content-in-shape"><span class="title">State an outcome you believe
          </span></div>
      </div>

      <div class="arrow-line"></div>
      <div class="arrow"></div>

      <div class="container shape diamond green">
        <div class="content-in-shape"><span class="title">Explain a third party</span></div>
      </div>

      <div class="arrow-line"></div>
      <div class="arrow"></div>

      <div class="container shape diamond green">
        <div class="content-in-shape"><span class="title">Ask the prospect</span></div>
      </div>

      <div>
        <img src="assets/blueprint-process/13-arrow-double.png">
      </div>

      <div>
        <div class="container shape diamond small green top">
          <div class="content-in-shape"><span class="title">How are you measuring that?</span></div>
        </div>
        <div class="container shape diamond small green bottom">
          <div class="content-in-shape"><span class="title">Can I see your reporting tool</span></div>
        </div>
      </div>


    </section>

    <span class="form-question">1. State an outcome you believe in and are committed to helping the prospect (and clients) achieve.</span>
    <span class="form-question">2. Explain a third party story or some research that forced you to change your thinking.</span>
    <span class="form-question">3. Ask the prospect, “Walk me through the process you have in place to get this outcome at a
      high level.</span>
    <span class="form-description indent">A. Avoid “yes/no” questions that could give them an easy out – challenge them,
      expect them to think through their explanation</span>
    <span class="form-question">4. “How are you measuring that?”</span>
    <span class="form-question">5. “Can I see your reporting tool?”</span>







  </div>
</div>