.container {
    display: flex;
    flex-direction: column;
}
.contents{
    display: flex;
    flex-direction: column;
    padding-left:2em;
}

.form-description>i{
    color:#00000011;
    font-size:2em;
}
.form-description>i.fa-quote-left{
    margin-right: -1em;
}
.form-description>i.fa-quote-right{
    margin-left: -1em;
}

 .shape-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }
  .shape {
      margin: 1em 2em 1em 2em;
      height: 8em;
      width:8em;
      text-align: center;
  }
  .shape.diamond {
    transform:rotate(45deg);
  }
  .shape.diamond.small {
    transform:rotate(45deg);
    height: 6em;
      width:6em;
      margin-bottom:5em;
  }
  .shape.diamond.bottom {
    transform:rotate(45deg);
    height: 6em;
      width:6em;
      margin-bottom:2em;
  }
  
  .shape.circle {
    border-radius: 11.3em;
    height: 11.3em;
	width: 11.3em;
  }

  .green {
    background: #41c562;
  }
  .gold {
    background: #fecc51;
  }
  .blue{
    background: #239adc;
  }
  .gray {
    background: #6d6e70;
  }
  
  .content-in-shape {
    color: white;
    display: table-cell;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .diamond .content-in-shape {
	height: 8em;
	width: 8em;
    transform: rotate(-45deg);
  }
  
  .diamond.small .content-in-shape {
	height: 6em;
	width: 6em;
    transform: rotate(-45deg);
    font-size: 0.8em;
    padding-top:2em;
    padding-left: 0.5em;
    text-align: center;
  }

  .circle .content-in-shape {
	height: 11.3em;
	width: 11.3em;
  }
  .content-in-shape .title{
    padding-bottom: 0.6em;
    font-size: 1.2em;
  }
  .content-in-shape .description{
    font-size: 0.8em;
  }
