<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="flex-row">

	<div class="flex-inital flex-column">
		<app-logo-area></app-logo-area>
		<app-submenu-area></app-submenu-area>

	</div>
	<div class="flex-flexible flex-column">
		<app-menu-bar></app-menu-bar>
		<app-header-area></app-header-area>
		<app-main-area></app-main-area>
		<app-footer-area></app-footer-area>
	</div>
</div> -->


<div class="flex-column">

	<div class="flex-inital flex-row">
		<app-logo-area></app-logo-area>
		<div class="flex-flexible flex-column">
			<app-menu-bar></app-menu-bar>
			<app-header-area></app-header-area>
		</div>
	</div>

	<router-outlet></router-outlet>
	
</div>

