.container {
    /* display: flex;
    flex-direction: column; */
    /* position: fixed; */
    position: relative;
}
.card-container {
    height: 600px;
}
.row-contents {
    display: flex;
    flex-direction: column;
    padding-left:2em;
}
.contents{
    position: absolute;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left:2em;
}
.side-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form-description>i{
    color:#00000011;
    font-size:2em;
}
.form-description>i.fa-quote-left{
    margin-right: -1em;
}
.form-description>i.fa-quote-right{
    margin-left: -1em;
}

 .shape-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .shape-section-side {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
    
  }
  .line-vertical {
    width: 0;
    height: 2em;
    border-left: solid #239adc 2px;
  }
  .rectangle-no-bottom {
    width: 27em;
    height: 2em;
    border: solid #239adc 2px;
    border-color: #239adc #239adc transparent #239adc;
    margin-top: 0em;
  }

  .shape {
      height: 6em;
      width:15em;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;
    justify-content: center;

    margin-left: 6em;
    margin-right: 6em;
    
  }

  .round {
    border-radius: 1em;
  }

  .green {
    background: #41c562;
  }
  .gold {
    background: #fecc51;
  }
  .blue{
    background: #239adc;
  }
  .gray {
    background: #6d6e70;
  }
  
  .content-in-shape {
    color: white;
    display: table-cell;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .center {
      text-align: center;
  }
.margin-10 {
    margin-left: 10em;
    margin-right: 10em;
}
.content-box {
    width:40em;
    /* height: 3em; */
    background: #f2f2f2;
    border: solid 1px gray;
    padding:1em;
    line-height: 1.5;
    align-self: center;
    margin:1em;
}
.bold {
    font-weight: bold;
}
.quote-box {
    background: lightgray;
    width: 12em;
    align-self:center;
    border-radius: 1em;;
}
button.fa {
    color:red;
    font-size:1em;
}