<div class="container">
	<div class="page-title">
		The “Blueprint”
	</div>

	<div class="contents">


		<p class="form-title">1. Key Discovery Finding</p>

		<div class="side-contents">

			<div class="item">
				<div><img src="/src/assets/blueprint-process/21-1.png"></div>
				<div class="process">
					<span class="form-content">Dangers</span>
					<span class="form-description">What is currently wrong with the plan - 4 or 5 example</span>
				</div>
			</div>

			<div class="item">
				<div><img src="/src/assets/blueprint-process/21-2.png"></div>
				<div class="process">
					<span class="form-content">Dangers</span>
					<span class="form-description">What is currently wrong with the plan - 4 or 5 example</span>
				</div>
			</div>

			<div class="item">
				<div><img src="/src/assets/blueprint-process/21-3.png"></div>
				<div class="process">
					<span class="form-content">Dangers</span>
					<span class="form-description">What is currently wrong with the plan - 4 or 5 example</span>
				</div>
			</div>
		</div>
	</div>
</div>