<div class="page-container">
    <div class="page-title">
        Three important items:
    </div>

    <div class="page-content">
        <div class="form-main-title">
            Items:
        </div>
        <li class="form-description emphasis indent">
            Help the prospect picture the situation by describing this great proposal. Mention the two or three vision box items you
            have just discussed.
        </li>
        <li class="form-description emphasis indent">
            The next item is to make sure they know they have looked into your references and that they have checked out.
        </li>
        <li class="form-description emphasis indent">
            The hit the price quickly “It is competitive” is all you need to say – DO NOT COMMIT to a specific price range.
        </li>

        <p></p>

        <div class="flex-row">
            <div class="flex-row" style="flex:1;align-items: center; justify-content: center;">
                <div><img width="100%" src="assets/the-truth/9-1.png"></div>
            </div>
            <div style="flex:2;">
                <div class="form-title">
                    Imagine!
                </div>
                <div class="form-question">
                    <p>We use the word imagine because there are no consequences to admitting you can imagine this scenario
                        – we haven’t yet started probing for the truth, we just want to know if they’ll play the game</p>
                </div>
            </div>



        </div>
    </div>
    <div class="page-footer>">
			<button (click)="router.navigateByUrl('/The%20Truth/9');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
			<button (click)="router.navigateByUrl('/The%20Truth/7');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>
</div>