<div class="page-container">
    <div class="page-title">
        The Challenger
    </div>



    <div class="page-content">

        <section class="shape-container-row" style="justify-content: space-around;">
            <div (click)="onClickShape(1)" class="new-shape circle gray">
                <div class="content-in-shape"><span class="title">Different view</span></div>
            </div>

            <span class="new-formula">></span>

            <div (click)="onClickShape(2)" class="new-shape diamond green">
                <div class="content-in-shape">
                    <span class="title">Understands the customer’s business</span></div>
            </div>

            <span class="new-formula">></span>

            <div (click)="onClickShape(3)" class="new-shape diamond green">
                <div class="content-in-shape"><span class="title">Loves to debate</span></div>
            </div>

            <span class="new-formula">></span>

            <div (click)="(0)" class="new-shape diamond green">
                <div class="content-in-shape"><span class="title">Pushes the customer</span></div>
            </div>
        </section>

        <li class="form-question emphasis">Always has a different view of the world</li>
        <li class="form-question emphasis">Understands the customer’s business</li>
        <li class="form-question emphasis">Loves to debate</li>
        <li class="form-question emphasis">Pushes the customer</li>


    </div>
    <div class="page-footer>">
        <button (click)="router.navigateByUrl('/Leverage%20Relation');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i
                class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
        <button (click)="router.navigateByUrl('/Blueprint%20Process/Outcome%20%231');" mat-button color="primary" style="float:right;"
            href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
    </div>
</div>