<div class="page-container">
        <div class="page-title">
                What are Other Questions that Could Lead to an Intellectual Response? 
        </div>
    
    
    
        <div class="page-content">
    
                <div class="mat-elevation-z2" style="display:flex; padding:2em; margin:1em;">
                        <mat-form-field style="width: 100%;">
                            <textarea matInput matTextareaAutosize matAutosizeMinRows=20 matAutosizeMaxRows=30 placeholder="" style="resize: vertical;"></textarea>
                        </mat-form-field>
                    </div>

        </div>
    
        <div class="page-footer>">
                <button (click)="router.navigateByUrl('/The%20Truth/7');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
                <button (click)="router.navigateByUrl('/The%20Truth/5');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
        </div>
    
    </div>