<div class="page-container">
  <div class="page-title">
    What makes You Different
  </div>



  <div class="page-content">
    <div>
      <img src="assets/blueprint-process/7-1.png">
    </div>


    <span class="form-title">Chad says:</span>
    <li><span class="form-description"><i class="fa fa-quote-left"></i>The highest chance of differentiation is not with
        ideas or tools, it is with approach and evidence of results.<i class="fa fa-quote-right"></i></span></li>
        <p></p>
    <li><span class="form-question">In Meeting Quote:</span></li>
    <span class="form-description indent"><i class="fa fa-quote-left"></i>If you are willing to go through our process, I promise
      you we will never ask for the business<i class="fa fa-quote-right"></i></span>

      <span class="form-title">Be Neutral</span>
      <li class="form-description" >Don’t thank them for their time</li>
      <li class="form-description" >Finding a winning attitude is a lot like dating . . . </li>
  </div>
	<div class="page-footer>">
      <button (click)="router.navigateByUrl('/Blueprint%20Process/Two%20Pitfalls%20to%20Overcome');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
      <button (click)="router.navigateByUrl('/Blueprint%20Process/The%20Change%20Formula');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
  </div>
</div>