<div class="container">
    <ul class="submenus">
      <li *ngFor="let submenu of submenus" routerLink="./{{submenu.id}}">
        <div class="submenu-title">
          {{submenu.title}}
          <div class="submenu-subtitle" *ngIf="submenu.sub_title">
            {{submenu.sub_title}}
          </div>
        </div>
  
  
        <!-- <a href="#">
        <span class="badge">{{submenu.title}}</span> 
      </a> -->
  
        <div class="submenu-nav-symbol">
          <fa name="angle-right" animation=""></fa>
        </div>
  
      </li>
    </ul>
  
  </div>