<div class="container">
  <div class="page-title">
    Blueprint and The Wedge
  </div>

  <div class="contents">

    <ul>
      <li>
        Blueprint uses the term “Levers” where The Wedge uses “Wedges”. Both refer to proactive measures which can be taken to enhance
        the prospect’s program
      </li>

      <section class="shape-section">
        <div class="container shape circle gray">
          <div class="content-in-shape"><span class="title">Blueprint</span><span class="description">Provide evidence for
              superior result</span></div>
        </div>

        <div class="arrow-line"></div>
        <div class="arrow"></div>

        <div class="container shape diamond green">
          <div class="content-in-shape"><span class="title">Levers</span></div>
        </div>

        <div class="container shape circle blue">
          <div class="content-in-shape"><span class="title">Wedges</span></div>
        </div>
        <div class="arrow-line"></div>
        <div class="arrow"></div>

        <div class="container shape diamond gold">
          <div class="content-in-shape"><span class="title">Wedges</span><span class="description">Focus directly</span></div>
        </div>
      </section>


      <li>
        Philosophically the two strategies are similar, but take different approaches to convince the buyer(s) you provide an advantage
        over the incumben
      </li>
      <li>
        The Wedge directly focuses on qualifying the prospect – Blueprint is more focused on providing evidence of a superior result
        directed at a multiple buyer scenario
      </li>
    </ul>

  </div>
</div>