.container {
    position: relative; 
    width: 100%;    
    margin: 0;
}
.home-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top:0;

    width: 100%;

    color: #90bee0;
    font-size:4.5em;
    text-align: center;
    padding-top: 0.5em;
}
.background-img {
    position: relative; 
    width: 100%;
}
div.description{
    background-color:#4472c4;
    text-align:center;
    color: white;
    font-size: 1em;
    padding: 1em;
}
div.home-footer{
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
