<div class="container">
  <div class="page-title">
    Scorecard Discussion Points
  </div>



  <div class="contents">

    <div class="diagram">
      <div class="diagram-item">
        <img src="assets/blueprint-process/20-1.png">
        <p>Questions</p>
      </div>

      <div class="diagram-bridge">
        <div><font color=gray>Get Answer</font></div>
        <div class="diagram-arrow" >
          <div class="arrow-line-long"></div>
          <div class="arrow"></div>
        </div>
      </div>

      <div class="diagram-item">
        <img src="assets/blueprint-process/20-2.png">
        <p>Have Great Solutions</p>
      </div>

    </div>

    <span class="form-question">1. What are your greatest concerns?</span>
    <span class="form-question">2. What do you like most about your current situation?</span>
    <span class="form-question">3. If we were meeting in three years' time and were celebrating the success of your business
      and its employees, what goal would you be most proud of achieving?</span>
    <span class="form-question">4. What progress have you already made towards realizing your goals?</span>
    <span class="form-question">5. What roadblocks stand in your way to achieving your goals listed in question 3?</span>
    <span class="form-question">6. What are the most important actions you must take to overcome the roadblocks listed in
      question 5?</span>
    <span class="form-question">7. What actions do you need to take first?</span>


  </div>
</div>