<div class="page-container">
    <div class="page-title">
        Dilemma!
    </div>



    <div class="page-content">
        <div class="form-question">
            <p>The Dilemma statement is very important. It begins the 2nd transition, which is designed to help the prospect
                understand that we are not going to simply accept “I’ll just tell him” and that we need to get to the truth.
                We may not be and probably are not yet at the truth, but we have just raised a flag that we won’t settle
                for a flippant response to this question.</p>
        </div>

        <div class="form-question">
            <p>In most cases, we are <span class="red-forecolor">not</span> at a point where we are closing the account.</p>
        </div>

        <div class="flex-row" style="align-items: center; justify-content: center;">
            <div style="flex:1">
            </div>

            <div class="flex-row" style="flex:8; justify-content: center;align-items: flex-end;">
                <div><img width="100%" src="assets/the-truth/11-1.png"></div>
                <div><img width="100%" src="assets/the-truth/11-2.png"></div>
            </div>
            <div style="flex:1">
            </div>

        </div>
    </div>

    <div class="page-footer>">
			<button (click)="router.navigateByUrl('/The%20Truth/11');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
			<button (click)="router.navigateByUrl('/The%20Truth/9');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>
</div>