<div class="page=container">
	<div class="page-title">
		Conslusion . . .
	</div>


	<div class="page-content-side">
		<div class="" style="margin-right:2em;">

			<section class="shape-section">
				<div  *ngIf="stage>=0" [@enterAnimation-0]="stage" (click)="onClickShape(1)"class="shape circle gray">
					<div class="content-in-shape"><span class="title">Distinguish<br>yourself
						</span></div>
				</div>

				<span *ngIf="stage>=1" [@enterAnimation-formula-3-0]="stage" class="formula">></span>

				<div  *ngIf="stage>=1" [@enterAnimation-1]="stage" (click)="onClickShape(2)"class="shape diamond green">
					<div class="content-in-shape"><span class="title">Allow buyers to reach conclusions
						</span></div>
				</div>

				<span *ngIf="stage>=2" [@enterAnimation-formula-3-1]="stage" class="formula">></span>

				<div  *ngIf="stage>=2" [@enterAnimation-2]="stage" (click)="(0)"class="shape diamond green">
					<div class="content-in-shape"><span class="title">Enjoy satisfying relationships
						</span></div>
				</div>

			</section>

			<p></p>
			<p class="form-question">So . . . how do you distinguish yourself from your competition, without throwing out the same
				old tired lines?</p>
			<p class="form-question">The first thing to understand is that you MUST allow your buyers to reach their own conclusions.
				Boxing people into a corner by <span class="emphasis">“overcoming objections”</span> does not and never has stimulated
				mutually satisfying relationships.</p>

		</div>

		<div class="">

			<p class="form-title">For Discussion</p>

			<p class="form-description emphasis"><li>What are some good questions you can ask your prospect to relax them and stimulate conversation?</li></p>
			<p class="form-description emphasis"><li>Would you use analogies to communicate your points?</li></p>
			<p class="form-description emphasis"><li>If so, what are some good ones you can think of now?</li></p>
			<p class="form-description emphasis"><li>How can you illustrate that life with your firm will be better without just coming out and stating it?</li></p>
		</div>

	</div>

	<div class="page-footer>">
			<button (click)="router.navigateByUrl('/Mapping%20It%20Out/13');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
			<button (click)="router.navigateByUrl('/Mapping%20It%20Out/11');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>
</div>