<div class="page=container">
	<div class="page-title">
		Conslusion . . .
	</div>


	<div class="page-content-side">
		<div class="contents">

			<section class="shape-section">
				<div class="container shape circle gray">
					<div class="content-in-shape"><span class="title">Distinguish yourself
						</span></div>
				</div>

				<span class="formula">></span>

				<div class="container shape diamond green">
					<div class="content-in-shape"><span class="title">Allow buyers to reach conclusions
						</span></div>
				</div>

				<span class="formula">></span>

				<div class="container shape diamond green">
					<div class="content-in-shape"><span class="title">Enjoy satisfying relationships
						</span></div>
				</div>

			</section>


			<span class="form-question">So . . . how do you distinguish yourself from your competition, without throwing out the same
				old tired lines?</span>
			<span class="form-question">The first thing to understand is that you MUST allow your buyers to reach their own conclusions.
				Boxing people into a corner by <span class="emphasis">“overcoming objections”</span> does not and never has stimulated
				mutually satisfying relationships.</span>

		</div>

		<div class="contents">

			<p class="form-title">For Discussion</p>

			<span class="form-description emphasis"><li>What are some good questions you can ask your prospect to relax them and stimulate conversation?</li></span>
			<span class="form-description emphasis"><li>Would you use analogies to communicate your points?</li></span>
			<span class="form-description emphasis"><li>If so, what are some good ones you can think of now?</li></span>
			<span class="form-description emphasis"><li>How can you illustrate that life with your firm will be better without just coming out and stating it?</li></span>
		</div>
	</div>
</div>