<div class="page-container">
	<div class="page-title">
		2017 Written Service Timeline Prepared Exclusively For:
	</div>

	<div class="page-content">
		<div style="align-self: center">
			<img src="assets/mapping-it-out/14-1.png">
		</div>

	</div>
	<div class="page-footer>">
			<button (click)="router.navigateByUrl('/Proactive%20Service');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
			<button (click)="router.navigateByUrl('/Mapping%20It%20Out/13');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>
</div>