<div class="container">
    <div class="page-title">
      The Advisor/Consultant
    </div>
  
    <div class="contents">
        <div class="page-left">
            <img src="assets/blueprint-process/10-left-consultant.png">
          </div>
        
          <div class="form">
            <p class="form-title">What are some adjectives you would use to describe an advisor or consultant?</p>
            <mat-form-field>
              <input matInput placeholder="1st">
            </mat-form-field>
        
            <mat-form-field>
              <input matInput placeholder="2nd">
            </mat-form-field>
        
            <mat-form-field>
              <input matInput placeholder="3rd">
            </mat-form-field>
        
            <mat-form-field>
              <input matInput placeholder="4th">
            </mat-form-field>
            <p class="form-title">How does a doctor begin an appointment?  Not with a <span class="emphasis">“laser light show”</span>, nor do they <span class="emphasis">“pre-diagnose”</span></p>
          </div>
        
    </div>
  </div>