/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

@font-face {
    font-family: 'Lato';
    src: url('assets/font/Lato-Regular.woff') format('woff');
    src: url('assets/font/Lato-Regular.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
  }