<div class="page-container">
    <div class="page-title">
        Rehearsing What Will Happen
    </div>



    <div class="page-content">

        <div class="form-main-title" style="border-bottom: solid 1px lightgray">
            Crystal Ball
        </div>

        <div class="flex-row" style="padding:.5em;">
            <div class="flex-col" style="align-items: center">
                <img src="assets/the-truth/8-s.png">
                <div>S</div>
            </div>
            <div class="flex-col">
                <div class="flex-row">
                    <div class="arrow chat-arrow left" style="margin-top:1em;">

                    </div>
                    <div class="chat-box">
                        <span>Can I tell you what I think is going to happen?
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row-reverse" style="justify-content: flex-start;padding:.5em;">
            <div class="flex-col" style="align-items: center">
                <img src="assets/the-truth/8-p.png">
                <div>P</div>
            </div>

            <div class="flex-col">
                <div class="flex-row">

                    <div class="chat-box">
                        <span> What’s that?
                        </span>
                    </div>
                    <div class="arrow chat-arrow right" style="margin-top:1em;"></div>
                </div>
            </div>
        </div>

        <div class="flex-row" style="padding:.5em;">
            <div class="flex-col" style="align-items: center">
                <img src="assets/the-truth/8-s.png">
                <div>S</div>
            </div>
            <div class="flex-col">
                <div class="flex-row">
                    <div class="arrow chat-arrow left" style="margin-top:1em;">

                    </div>
                    <div class="chat-box">
                        <span>When your current agent gets wind that you are talking to someone else, he is going to come
                            zipping over here and whether he has an appointment or not, he will do whatever it takes to get
                            in front of you. 
                            <br>
                            When he does, and I don’t know what your relationship is like, but regardless,
                            he’s going pull out all the stops and start putting on the pressure. Like I said, I don’t know
                            what your relationship is like, but maybe he’ll bring up sponsoring your kid’s little league
                            team, or he’ll mention the time he took you on a nice golf trip or perhaps you had a claim sitting
                            on the ledge and he pushed it back up for you? Regardless, the point is, he is going to put a
                            tremendous amount of pressure on you to do absolutely nothing. (Shrug your shoulders)
                            <br>
                            Now, when he does that . . . How are you going to handle it?

                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row-reverse" style="justify-content: flex-start;padding:.5em;">
            <div class="flex-col" style="align-items: center">
                <img src="assets/the-truth/8-p.png">
                <div>P</div>
            </div>

            <div class="flex-col">
                <div class="flex-row">

                    <div class="chat-box">
                        <span>Well, I can see your point, but business is business. 
                            <br>If I am convinced we have a better option, I will let him go.
                        </span>
                    </div>
                    <div class="arrow chat-arrow right" style="margin-top:1em;"></div>
                </div>
            </div>
        </div>




    </div>
    <div class="page-footer>">
			<button (click)="router.navigateByUrl('/The%20Truth/13');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
			<button (click)="router.navigateByUrl('/The%20Truth/11');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>
</div>