<div class="page-container">
        <div class="page-title">
                The Crystal Ball 
        </div>
    
    
    
        <div class="page-content">
            <div class="form-question">
                <p>During this segment, it isn’t important that your story contain exactly the items I’ve included here.  What is important is that you have painted a picture of desperation from the incumbent AND pointed out that by succumbing to this ploy, your prospect isn’t demonstrating the qualities that made them successful in the first place – which is the willingness to be decisive and to refuse to be manipulated by someone they probably like.  Hence the line <span class="emphasis">“The point is, he is going to put a tremendous amount of pressure on your to do absolutely nothing!”</span>
                    </p>
            </div>
    
    
            <div class="flex-row" style="align-items: center; justify-content: center;">
                <div style="flex:1">
                </div>
    
                <div class="flex-row" style="flex:8; justify-content: center;align-items: flex-end;">
                    <div><img width="100%" src="assets/the-truth/14-1.png"></div>
                </div>
                <div style="flex:1">
                </div>
    
            </div>
        </div>
    
        <div class="page-footer>">
                <button (click)="router.navigateByUrl('/The%20Truth/14');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
                <button (click)="router.navigateByUrl('/The%20Truth/12');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
        </div>
    
    </div>