<div class="page-container">
    <div class="page-title">
        Proposals Cost Money
    </div>



    <div class="page-content-side">
        <div class="flex-col" style="flex:1;">
            <div class="form-question">
                <p>It may not have occurred to you, but each time you submit a prospect to the marketing department or ask
                    the staff to prepare a capabilities presentation, it cost a significant amount of money.</p>
            </div>

            <div class="form-question">
                <p>How much depends on the circumstances, but the average amount is about <span class="red-forecolor">$4,000.</span></p>
            </div>

            <div><img width="100%" src="assets/the-truth/4-1.png" style="padding:2em;"></div>
        </div>


        <div class="flex-col" style="flex:1;">
            <div><img width="100%" src="assets/the-truth/4-2.png" style="padding:2em;"></div>
            <div class="form-question">
                <p>So the question is – if I asked you to write me a check for four grand when you offer a submission to the marketing team, are you confident enough in your chances of success to do that, knowing I’m going to cash the check if you fail?
                    </p>
            </div>

        </div>
    </div>

    <div class="page-footer>">
			<button (click)="router.navigateByUrl('/The%20Truth/4');" mat-button color="primary" style="float:right;" href="#">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" style="padding-bottom: 3px"></i></button>
			<button (click)="router.navigateByUrl('/The%20Truth/2');" mat-button color="primary" style="float:right;" href="#"><i class="fa fa-arrow-left" style="padding-bottom: 3px"></i>&nbsp;&nbsp;&nbsp;Prev</button>
	</div>

</div>